version: '3.9'

services:

  webserver:
    image: nginx:1.25
    env_file:
      - ./containers/webserver/.env
    depends_on:
      web:
        condition: service_started
    volumes:
      - ./containers/webserver/volume/ssl/certificate.crt:/etc/ssl/certs/certificate.crt
      - ./containers/webserver/volume/ssl/private.key:/etc/ssl/private/private.key
      - ./containers/webserver/volume/nginx.conf:/etc/nginx/nginx.conf
      - ./containers/webserver/volume/templates:/etc/nginx/templates
    restart: always
    ports:
      - "2223:2223"

  db:
    image: mysql:8.0
    env_file:
      - ./containers/db/.env
    volumes:
      - ./containers/db/volume:/var/lib/mysql
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysql --user=root --password=\"$$MYSQL_ROOT_PASSWORD\" --execute 'SHOW DATABASES;'"]
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "13306:3306"

  test_db:
    image: mysql:8.0
    env_file:
      - ./containers/test_db/.env
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysql --user=root --password=\"$$MYSQL_ROOT_PASSWORD\" --execute 'SHOW DATABASES;'"]
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "13307:3306"

  redis:
    image: redis:6.0
    restart: always
    ports:
      - "16379:6379"

  api:
    image: greenchatapi
    build:
      context: ../api
    env_file:
      - ../api/.env
    environment:
      - REDIS_HOST=redis
      - DB_HOST=db
      - DB_TEST_HOST=test_db
    depends_on:
      db:
        condition: service_healthy
      test_db:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ../api/media:/home/user/api/media
    restart: always
    ports:
      - "5180:5180"
      - "5181:5181"

  web:
    image: greenchatweb
    build:
      context: ../web
    env_file:
      - ../web/.env
    depends_on:
      api:
        condition: service_started
    restart: always
    ports:
      - "5182:5182"
