.idea

web/__pycache__
web/.env

api/__pycache__
api/_tests
api/.env

api/db/__pycache__
api/db/__create_test_data.py
api/db/alembic_/migrations/__pycache__
api/db/alembic_/migrations/versions/__pycache__

api/http_/__pycache__
api/http_/mail/__pycache__

api/websocket_/__pycache__
