[submodule "GreenChatApi"]
	path = api
	url = git@github.com:daH005/GreenChatApi.git
[submodule "GreenChatWeb"]
	path = web
	url = git@github.com:daH005/GreenChatWeb.git
[submodule "GreenChatDesktop"]
	path = desktop
	url = git@github.com:daH005/GreenChatDesktop.git
